<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">
  <div fxFlex="0" *ngIf="certificat">
    <mat-card>
        <mat-card-header>
            <mat-card-title>
              <h3>{{certificat.titre | uppercase}}</h3>
            </mat-card-title>
            <mat-card-subtitle>
              <h4>{{certificat.universite}}</h4>
            </mat-card-subtitle>
        </mat-card-header>
        <img matCardImage src={{certificat.urlpng}} alt={{certificat.titre}}>
        <mat-card-content>
          <h2>{{'Auteur: ' + certificat.auteur }}</h2>
          <h3>Date De Certification :  {{certificat.dateCertif | date }}</h3>
          <h4>{{'Plateforme : ' + certificat.universite }}</h4>
            <p>
              {{certificat.description}}
            </p >
        </mat-card-content>
        <mat-card-actions align="start">
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>

    </mat-card>
  </div>
</div>
