<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <H3>Menu</H3>
    <hr>
  </div>

  <div>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let certificat of certificats._embedded.certificats" [routerLink]="['/certificat', certificat.id]">
        <img height="200px" src={{certificat.urlpng}} alt={{certificat.titre}} />
        <mat-grid-tile-footer>
          <p matLine >
            <span>{{certificat.titre | uppercase}}</span>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>

