<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <H3>Menu</H3>
    <hr>
  </div>

  <div>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let certiticat of certificats" (click)="onSelect(certiticat)">
        <img height="200px" src={{certiticat.urlpng}} alt={{certiticat.titre}} />
        <mat-grid-tile-footer>
          <p matLine >
            <span>{{certiticat.titre | uppercase}}</span>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>

  <app-certificat-detail [certificat]="certificat"></app-certificat-detail>
</div>

