<div class="container"
     fxLayout="column"
     fxLayoutGap="10px">
  <div fxFlex>
    <H3>Menu</H3>
    <hr>
  </div>

  <div>
    <mat-grid-list cols="2" rowHeight="200px">
      <mat-grid-tile *ngFor="let cert of Certificats">
        <img height="200px" src={{cert.urlpng}} alt={{cert.titre}} />
        <mat-grid-tile-footer>
          <p matLine >
            <span>{{cert.titre | uppercase}}</span>
          </p>
        </mat-grid-tile-footer>
      </mat-grid-tile>
    </mat-grid-list>
  </div>


  <app-certificat-detail></app-certificat-detail>

</div>

