<div class="container footer"
    fxLayout="row wrap"
    fxLayout.lt-md="column"
    fxLayoutAlign="center center"
    fxLayoutGap="10px">

  <div fxFlex="100" fxFlex.gt-sm="50">
    <div fxLayout="row">
      <div fxFlex="40" fxFlexOffset="20px">
        <h4>Le Liens</h4>
        <mat-list>
          <mat-list-item><a mat-button>Accueil</a></mat-list-item>
          <mat-list-item><a mat-button>Appropos de moi</a></mat-list-item>
          <mat-list-item><a mat-button>Menu</a></mat-list-item>
          <mat-list-item><a mat-button>Contactez-moi</a></mat-list-item>
        </mat-list>
      </div>
      <div fxFlex="55">
        <h4>Mon Adresse</h4>
        <address style="text-size: 80%">
          Avenue de la Liberté, Route Houmet Souk - Midoun<br> 4116 Midoun - Djerba<br>(Tunisie)<br>
          <i class="fa fa-phone"></i>: +216 56 352 275<br>
          <i class="fa fa-fax"></i>: +216 29 352 069<br>
          <i class="fa fa-envelope"></i>:
          <a href="ldamaro98@gmail.com">ldamaro98@gmail.com</a>
        </address>
      </div>
    </div>
  </div>
  <div fxFlex="100" fxFlex.gt-sm="45">
    <div style="text-align:center">
      <a mat-icon-button class="btn-google-plus" href="http://google.com/+"><i class="fa fa-google-plus fa-lg"></i></a>
      <a mat-icon-button class="btn-facebook" href="https://www.facebook.com/labydamaro.camara"><i class="fa fa-facebook fa-lg"></i></a>
      <a mat-icon-button class="btn-linkedin" href="https://www.linkedin.com/in/laby-damaro-camara-5a3bbb146/"><i class="fa fa-linkedin fa-lg"></i></a>
      <a mat-icon-button class="btn-twitter" href="https://twitter.com/DamaroLaby"><i class="fa fa-twitter fa-lg"></i></a>
      <a mat-icon-button class="btn-youtube" href="https://www.youtube.com/channel/UCk0wlYe39FGI-BXwW8yOD9g"><i class="fa fa-youtube fa-lg"></i></a>
      <a mat-icon-button class="btn-mail" href="mailto:ldamaro98@gmail.com"><i class="fa fa-envelope-o fa-lg"></i></a>
    </div>
  </div>
  <div>
      <p>© Copyright 2020 Camara Skills</p>
  </div>
</div>
